/* General Styles */
.album.py-5.bg-light {
    overflow: hidden;
}

.content {
    width: 100%;
    height: 100%;
    overflow: auto;
    /* Enable scrollbars if content overflows */
}

.social-icon {
    font-size: 24px;
    margin: 0 10px;
    color: rgb(13, 110, 253);
    /* Default color */
}

.facebook-icon {
    color: rgb(13, 110, 253);
}

.btn-email {
    background-color: #ffc107;
    border-color: #ffc107;
    color: #212529;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

/* Custom Card Styles */
.custom-card {
    display: flex;
    flex-direction: column;
    /* Allow the card to grow in height based on content */
    min-height: 380px;
    /* Minimum height */
}

.custom-card .carousel {
    flex-grow: 2;
}

.custom-card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

/* Responsive Design Adjustments */
@media (max-width: 768px) {

    .album.py-5.bg-light,
    .custom-card {
        width: 100%;
        /* Full width on small screens */
        min-height: auto;
        /* Allow height to adjust based on content */
    }

    .social-icon {
        font-size: 20px;
        /* Slightly smaller icons on small screens */
    }

    .btn-email {
        padding: 5px 10px;
        /* Adjust padding for smaller buttons */
    }
}